body{
    font-family: Arial, Verdana;
    background-color: black;
    color: white;
    margin: 20px;
    margin-bottom: 0;}

h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

h2{
    font-size: 30px;
    color: #0D0D0D;

}

p {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 24px;
}

img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed #ffffff; 
}

div {
    height: auto; 
    min-height: 125px;
    padding: 20px; 
    border: 3px solid #ffffff; 
}

.introduction {
    line-height: 2;
    border-radius: 15px; 
    margin-top: 15px; 
}

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid red; 
    border-left: 5px solid red; 
}

.blue {
    background-color: #0000ff;
    text-align: left; 
    margin-right: 50px; 
    border-top: 2px solid #0000ff; 
    border-right: 5px solid #0000ff; 
    color: #c4c4c4;

}

.blue h2 { 
    color: #c4c4c4
}

.yellow {
    background-color: #ffff00;
    text-align: right; 
    margin-left: 50px; 
    border-bottom: 2px solid #ffff00; 
    border-left: 5px solid #ffff00; 
    color: #707070; 

}


.green {
    background-color: #008500; 
    text-align: left; 
    margin-right: 50px; 
    border-top: 2px solid #008500; 
    border-right: 5px solid #008500; 
    color: #000; 
}

.green p{
    color: white;
}


footer {
    background-image: linear-gradient(to right, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid white; 
}

footer p {
    font-size: 20px; 
    text-align: right; 
    padding: 15px 15px 15px 0px;
}
